@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98.3vh;
  width: 24vh;
  background-color: #4c1d95;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 1rem;
  border-radius: .2rem;
}
.side-bar icon{
  font-size: 1rem;
  position: absolute;
  top: 4.3rem;
  left: 1.8rem;
}
.side-bar span{
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-bottom: .5rem;
  color: #7986cb;
  font-size: 2rem;
  font-weight: bold;
}

hr{
  border: 1px solid rgb(55 65 81);
  width: 90%;
  margin-top: 1rem;
}
.side-bar input{
  border-radius: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  width: 70%;
  margin-bottom: .5;
}
.side-bar input:focus{
  outline: 0;
}
.user-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  max-height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  color: #7986cb;
  margin-top: .5rem;
}
.user-list li{
  padding: 1rem;
  width: 11rem;
}
.user-list::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
.user-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.user-list::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73); 
  border-radius: 10px;
}

/* Handle on hover */
.user-list::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150); 
}