@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 24vh;
  background-color:  #7986cb;
  font-family: sans-serif;
  padding-top: 1rem;
  border-radius: .2rem;
}
.search-icon{
  font-size: 1rem;
  position: absolute;
  top: 4.4rem;
  left: 1.8rem;
}
.side-bar-title{
  position: absolute;
  top: 1rem;
  left: 1.6rem;
  width: 10rem;
  margin-bottom: .5rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.title-hr{
  position: absolute;
  top: 6.5rem;
  left: 1rem;
  border: 1px solid rgb(55 65 81);
  width: 12rem;
  max-width: 18vw;
  margin-top: 1rem;
}
.side-bar-input{
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  border-radius: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  width: 18vh;
  margin-bottom: .5;
  color: #4c1d95;
}
.side-bar input:focus{
  outline: 0;
}
.user-list-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  height: 100vh;
  max-height: 95%;
  max-width: 13rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  margin-top: 7rem;
  background-color: #7986cb;
  z-index: 999;
}
.user-list{
  padding: 1rem;
  width: 13rem;
  color: white;
}
.user-list-container::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
.user-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.user-list-container::-webkit-scrollbar-thumb {
  background: #4c1d95; 
  border-radius: 10px;
}

/* Handle on hover */
.user-list-container::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150); 
}

.reciever-list{
  position: absolute;
  list-style: none;
  width: 12rem;
  max-height: 44vh;
  max-width: 17.5vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  margin-top: 6.5rem;
  left: 2rem;
}
.reciever-list::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
.reciever-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.reciever-list::-webkit-scrollbar-thumb {
  background: #4c1d95; 
  border-radius: 10px;
}

/* Handle on hover */
.reciever-list::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150); 
}
.reciever-list div{
  padding: 1rem 0;
}

.channel-hr{
  position: absolute;
  top: 56vh;
  left: 1rem;
  border: 1px solid rgb(55 65 81);
  width: 12rem;
  max-width: 18vw;
  margin-top: 1rem;
}
.create-channel{
  display: flex;
  position: absolute;
  bottom: 19rem;
  left: 2rem;
  color: white;
  font-weight: 100;
  letter-spacing: .1rem;
}
.create-channel-button{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 18.8rem;
  color: #4c1d95;
  left: 11rem;
  padding: 0 .5rem;
  text-align: center;
  background-color: transparent;
}

.box {
  font-family: sans-serif;
  background-color: #7986cb;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box h2 {
  margin: 0 0 30px 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox label {
  margin-left: 1rem;
  color: #fff;
}

.box .inputBox input {
  background: white;
  border-radius: 1.5rem;
  color: #4c1d95;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  margin-top: .5rem;
  outline: none;
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 1rem;
  width: 93%;
}

.box input[type="submit"], .box button[type="submit"], button.button {
  font-family: sans-serif;
  background: #4c1d95;
  font-size: 11px;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  letter-spacing: 2px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2px 10px 2px 0;
  display: inline-block;
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
  opacity: 0.8;
}
.channel-select{
  max-width: 10rem;
  overflow-y: auto;
}